<!-- Loads the path to your static files -->

{% extends 'music/base.html' %}


{% block body %}
    {% if all_albums %}
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bang! Check out my Albums:</h3>
        <ul>

            {% for album in all_albums %}

                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">

                        <!-- Album logo -->
                        <a href="{% url 'music:detail' album.id %}">
                            <!-- <img src="{{ album.album_logo.url }}" class="img-responsive">  --> <!-- it goes for models.FileField -->
                            <img src="{{ album.album_logo }}" class="img-responsive">
                        </a>

                        <div class="caption">
                            <h2>{{ album.album_title }}</h2>
                            <h4>{{ album.artist }}</h4>

                            <!-- Details -->
                            <a href="{% url 'music:detail' album.id %}" class="btn btn-primary btn-sm">View Details</a>


                            <!-- Update -->
                            <a href="{% url 'music:album-update' album.id%}" class="btn btn-primary btn-sm">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z"/>
                                  <path fill-rule="evenodd" d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z"/>
                                </svg>
                            </a>

                            <!-- Delete -->
                            <form action="{% url 'music:album-delete' album.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{ album.id }}"/>
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>




                            <!-- Favorite -->
                            <!--<a href="#" class="btn btn-default btn-sm btn-favorite"> -->
                                <!--<span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>-->
                            <!--</a>-->
                            <!--<br/>-->

                            <!--
                            <img src="{{ album.album_logo.url }}" style="width: 300px;">
                            <li><a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a></li>
                            -->
                        </div>

                    </div>
                </div>

            {% endfor %}
        </ul>
    {% else %}
        <h3>You don't have any albums...</h3>>
    {% endif %}
{% endblock %}